<!--suppress ALL -->
<span id="save-form-<%= @entry.id %>">
  <%= link_to save_entry_entry_path(@entry), class: "btn-sm m-0 btn-outline-light text-decoration-none",
              remote: true, method: :put, style: "color: #ababab;",
              onclick: "goToSignIn()" do %>
  <i class="bi bi-bookmark-plus" style="font-size: 1.2em;"></i>
<% end %>
</span>