<!--suppress CheckTagEmptyBody -->

<br>

<%= render 'entries/entry', entry: @entry %>

<br>

<% if @entry.reports_count > 0 %>
  <p class="text-secondary font-weight-bold">
    <%= pluralize(@entry.reports_count, 'report') %>
  </p>
  <hr class="custom-horizontal">

  <% @reports.each do |report| %>
    <%= render 'flags/content', report: report %>
  <% end %>

<% end %>
<br>
<br>