<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    </ul>
  </div>
<% end %>
