<!--suppress ALL -->
<% flash.each do |type, message| %>
  <% which = { "notice" => "success", "error" => "danger", "alert" => "yellow" } %>
  <div class="position-fixed top-0 start-50 translate-middle-x p-3" id="toast-flash" style="z-index: 5;">
    <div class="toast toast-flash align-items-center text-secondary border-0" style="background-color: #212529;"
         data-bs-delay="15000" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body text-center">
        <span class="text-<%= which[type] %>"><%= message %></span>
        <button type="button" style="float: right; font-size: 0.7em;" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% end %>

<script>
    if ($(window).width() < 992) {
        $('#toast-flash').removeClass().addClass("position-fixed bottom-0 translate-middle-x start-50 p-3");
        $('#toast-flash').css({'z-index' : '5', 'margin-bottom' : '3em'})
    }
    else {
        $('#toast-flash').removeClass().addClass("position-fixed top-0 end-0 p-3");
        $('#toast-flash').css({'z-index' : '5'})
    }

    $(document).ready(function () {
        $('.toast-flash').toast('show')
    })
</script>