<!--suppress ALL -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous">
<span>
  <strong class="text-yellow" style="font-size: 1.7em;">Why</strong>

  <span style="float: right; padding-top: 0.5em;">
    <a href="https://twitter.com/learnoshiwambo" style="font-size: 1.4em; color: transparent;" target="_blank">
      <i class="fab fa-twitter text-yellow"></i>
    </a>

    <a href="https://www.facebook.com/Learn-Oshiwambo-105380111449619" style="font-size: 1.4em; color: transparent;" target="_blank">
      <i class="fab fa-facebook text-yellow"></i>
    </a>

    <a href="https://www.instagram.com/learnoshiwambo/" style="font-size: 1.4em; color: transparent;" target="_blank">
      <i class="fab fa-instagram text-yellow"></i>
    </a>
  </span>
</span>
<hr class="custom-horizontal">

<p class="text-gray">Once upon a time I wanted to develop a translation intelligent-backed application for
  <span class="text-yellow">Namibian indigenous languages</span> particularly Oshiwambo, against English.
</p>

<p class="text-gray">One major obstacle was, and still is, lack of organised, open-source translation pairs.
  I know what you're thinking! Why not just source translations from an already available
  <span class="text-yellow" data-bs-toggle="tooltip" data-bs-placement="top" title="A dictionary or a word listing book.">
    embwiitya</span> like
  <a class="text-yellow text-decoration-none" target="_blank"
     href = "https://www.amazon.com/Oshindonga-English-Dictionary/dp/0868481823">this</a>
  or
  <a class="text-yellow text-decoration-none" target="_blank"
     href = "https://openlibrary.org/books/OL1268889M/Oshindonga_English_English_Oshindonga_embwiitya">this</a>?
  Not free!
</p>

<p class="text-gray">Hence why not create an online platform with trusted moderators where everyone can submit
  translations, and also learn?
</p>

<h2 class="text-yellow">Goals</h2>
<hr class="custom-horizontal">

<p class="text-gray">Effective Communication • Transmission of Knowledge • Cultural Heritage • Accelerated Education • More
</p>

<h2 class="text-yellow">Open Source</h2>
<hr class="custom-horizontal">

<p class="text-gray">All data submited on Elaka is free to reproduce and use in any desired (positive) manner. That's it!
</p>

<h2 class="text-yellow">Contribute?</h2>
<hr class="custom-horizontal">

<p class="text-gray">Are you a language educator, translation expert, intelligent software developer,
  computational linguist or perhaps an organization and would &#10084; to contribute?
</p>

<div class="text-gray"> Email me at:
  <a class="text-yellow text-decoration-none" href = "mailto: axel@elaka.io">axel@elaka.io</a>
</div>

<span>
  <a href="https://twitter.com/axelmukwena" style="font-size: 1.4em; color: transparent;" target="_blank">
    <i class="fab fa-twitter" style="color: #1b95e0; "></i>
  </a>

  <a href="https://www.linkedin.com/in/axelmukwena/" style="font-size: 1.4em; color: transparent;" target="_blank">
    <i class="fab fa-linkedin" style="color: #1b95e0;"></i>
  </a>
</span>

<br>
<hr class="custom-horizontal">
<span class="text-gray">
  <%= link_to "Terms", terms_path, class: "text-yellow text-decoration-none" %>,
  <%= link_to "Privacy", privacy_path, class: "text-yellow text-decoration-none" %>
  <span class="text-gray" style="font-size: small">© 2021</span>
</span>
<br>
<br>
<br>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>