<!--suppress ALL -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous">

<strong class="text-yellow" style="font-size: 1.7em;">Competition</strong>
<hr class="custom-horizontal">

<p class="text-gray">
  Win <span class="text-yellow">N$800</span> by submitting the highest number of correct translation entries.
</p>

<ul class="text-normal">
  <li>
    First winner: N$500
  </li>
  <li>
    Second Winner: N$300
  </li>
</ul>

<strong class="text-yellow" style="font-size: 1.7em;">Requirements</strong>
<hr class="custom-horizontal">

<ul class="text-normal">
  <li>
    3 words minimum for each translation entry
  </li>
  <li>
    No single words will qualify. Only sentences!
  </li>
</ul>

<div style="padding-left: 1em;">
  <p class="text-normal">
    <i class="bi bi-check-square-fill text-success" style=""></i>
    I like my dog -> Ondi hole ombwa yandje
  </p>

  <p class="text-normal">
    <i class="bi bi-check-square-fill text-success" style=""></i>
    Otandi li onyama -> I am eating meat
  </p>

  <p class="text-normal">
    <i class="bi bi-x-square-fill text-danger" style=""></i>
    Otandi li -> I am eating
  </p>

  <p class="text-normal">
    <i class="bi bi-x-square-fill text-danger" style=""></i>
    Onyama -> Meat
  </p>
</div>

<strong class="text-yellow" style="font-size: 1.7em;">Take Note</strong>
<hr class="custom-horizontal">

<ul class="text-normal">
  <li>
    You should be <%= link_to "logged in", new_session_path(resource_name), class: "text-yellow" %>
    . Only correct translation entries under your username will be considered
  </li>
  <li style="padding-top: 0.5em">
    Starting: <span class="text-yellow">00h00, 28th April 2021</span>
  </li>
  <li style="padding-top: 0.5em">
    Ending: <span class="text-yellow">18h00, 29th April 2021</span>
  </li>
  <li style="padding-top: 0.5em">
    Windhoek time.
  </li>
</ul>

<br>
<br>
<br>
