<p></p>
<h5 class="text-secondary">Elaka Content Guidelines</h5>
<hr class="custom-horizontal">

<p class="text-normal">
  Elaka is made by a community of numerous individuals, including you. Anybody can post a translation, but in order to
  keep things fun for everyone, we ask that you follow a few ground rules:
</p>

<h2 class="text-success">Do</h2>
<ul class="text-normal">
  <li>
    Write for a large audience. When translating a word, make sure you are clear for other people to
    understand and use it. Need a little help? Coming soon, our word of the day will offer some examples.
  </li>

  <li>
    Be creative. Some of the best translation on Elaka contain jargon, street language etc. Some of them are just
    straight up weird. We’re okay with that.
  </li>

  <li>
    Have fun. This is a place where language has a little more space to be explored and constructed freely, in the moment.
  </li>
</ul>

<h2 class="text-danger">Don't</h2>
<ul class="text-normal">
  <li>
    Don’t post personal information. That includes obvious things like last names and addresses, but we will also
    remove translations containing first names or user handles if they can be used to identify and target specific
    individuals for harassment.
  </li>

  <li>
    Don’t be an asshole. We are okay with people translation offensive words. After all, people use offensive words in
    the real world and a resource for understanding what those words mean can be valuable. However, we are
    not—and never will be—okay with people using a translation to harass, discriminate, and/or directly
    incite violence against others.
  </li>

  <li>
    If you notice anything on Elaka that you believe falls outside of these guidelines, please report/flag it for review.
  </li>
</ul>