<br>
<h5 class="text-secondary">Privacy Policy</h5>
<hr class="custom-horizontal">

<h2 class="text-yellow">This privacy policy discloses:</h2>
<ul class="text-normal">
  <li>When and how we collect, use and share your information</li>
  <li>When and how third-party advertising networks might collect your information when you visit
    <%= link_to "elaka.io", root_path,
                class: "text-yellow text-decoration-none" %>
  </li>
  <li>What your privacy rights are and how you can exercise them</li>
  <li>Your use of Elaka is also subject to our <%= link_to "Terms of Service", terms_path,
                                                           class: "text-yellow text-decoration-none" %>.
  </li>
</ul>
<h2 class="text-yellow">The information we collect, in brief</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  We collect (a) the e-mail addresses of those who communicate with us via e-mail,
  (b) aggregate information concerning what pages users access or visit, (c)
  information you choose to send to us (such as survey information and/or site registrations)
  and (d) information related to your use of the site, including IP address, rough geographic location,
  and the date and time of your request.
</p>

<h2 class="text-yellow">How we use your information</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  We collect your information to improve the content of our website, to improve the quality of our service,
  to identify and authenticate our users, to contact you if necessary or with your permission. We may also use
  your anonymized information for research purposes.
</p>

<h2 class="text-yellow">When we share your information</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  We do not share or sell your information to other organizations for commercial purposes, except to provide
  products or services you've requested, when we have your permission, or under the following circumstances:
</p>

<ul class="text-normal">
  <li>
    If it is necessary to share information in order to investigate, prevent, or take action regarding illegal
    activities, suspected fraud, situations involving potential threats to the physical safety of any person,
    violations of Terms of Service, or as required by law.
  </li>
  <li>
    If Elaka is acquired by or merged with another company, we will transfer your information along with
    the Elaka website. Should this happen, Elaka will provide advance notice of the transfer and
    of resulting changes to these terms on the Elaka website and, where possible, by email.
  </li>
  <li>
    We may provide such information to trusted businesses or persons for the sole purpose of processing personally
    identifying information on our behalf. When this is done, it is subject to agreements that oblige those parties to
    process such information only on our instructions and in compliance with this Privacy Policy and appropriate
    confidentiality and security measures.
  </li>
  <li>
    We may provide such information to a company controlled by, or under common control with, Elaka
    for any purpose permitted by this Privacy Policy.
  </li>
</ul>

<h2 class="text-yellow">The information we sell</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  We do not sell the personal information that we collect. Our ad management partners ("Ad Partners"), however,
  may collect information from you directly when you visit our website, using technologies like cookies and web beacons.
</p>

<h2 class="text-yellow">Your privacy rights</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  Elaka is in the process of extending consumer rights all our users. As a user, you have the right to:
</p>

<ul class="text-normal">
  <li>
    The right to request disclosure of the kinds of personal information and the specific pieces of personal
    information that we have collected about you. We will consider and verify your request in accordance with
    Namibian regulations before disclosing any personal information.
  </li>
  <li>
    The right to be informed about the information we collect about you. We detail all our information collection
    practices in this privacy policy.
  </li>
  <li>
    The right to request deletion of any personal information we collect about you. We will consider and verify
    your request in accordance with Namibian regulations before deleting any personal information.
  </li>
  <li>
    The right to know how and when we disclose or sell your personal information.
  </li>
  <li>
    The right to opt out of the sale of your personal information.
  </li>
  <li>
    The right to exercise the above rights without facing retaliatory discrimination.
  </li>
</ul>

<h2 class="text-yellow">Requests to know and requests to delete</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  You may request disclosure and/or deletion of any information we have collected about you by emailing us (simply me)
  with the details of your request at
  <a class="text-yellow text-decoration-none" href = "mailto: axel@elaka.io">axel@elaka.io</a>
</p>

<h2 class="text-yellow">Cookies and web beacons</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  A cookie is a small amount of data, which often includes an anonymous unique identifier,
  which is sent to your browser from a website's computers and stored on your computer's hard drive.
  Cookies are required to use some Elaka services. Elaka and its Ad Partners use cookies to record
  current session information.
</p>

<p class="text-normal">
  Our Ad Partners may also from time to time use web beacons (also known as Internet tags, pixel tags and clear GIFs).
  These web beacons are provided by our Ad Partners and allow Ad Partners to obtain information such as the IP
  address of the computer that downloaded the page on which the beacon appears, the URL of the page on which
  the beacon appears, the time the page containing the beacon was viewed, the type of browser used to view the page
  and the information in cookies set by the Ad Partners. Web beacons enable our Ad Partners to recognize a unique
  cookie on your web browser, which in turn enables us to learn which advertisements bring users to our website.
</p>

<p class="text-normal">
  With both cookies and web beacon technology, the information that we collect and share is anonymous and not
  personally identifiable. It does not contain your name, address, telephone number, or email address.
</p>

<p class="text-normal">
  You can opt-out of Google Analytics data collection with the Google Analytics Opt-out Browser Add-on. You
  can opt out of Ad Partner information collection using the process described in the Your information sale
  opt-out right section of this policy.
</p>

<h2 class="text-yellow">Data storage</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  Elaka uses third party vendors and hosting partners to provide the necessary hardware, software, networking,
  storage, and related technology required to run Elaka. Elaka owns the code, databases, and all rights to
  the Elaka application.
</p>

<h2 class="text-yellow">Security</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  We take precautions to ensure the security of your personal information. However, we cannot guarantee that hackers
  or unauthorized personnel may gain access to your personal information despite our efforts. You should note that
  in using the Elaka service, your information will travel through third party infrastructures which
  are not under our control.
</p>

<p class="text-normal">
  We cannot protect, nor does this Privacy Policy apply to, any information that you transmit to other users. You
  should never transmit personal or identifying information to other users.
</p>

<h2 class="text-yellow">Children</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  The Elaka service is not intended for children under 13, and we do not knowingly collect information from children
  under the age of 13.
</p>

<p class="text-normal">
  Children aged 13 or older may not submit any personal information without the permission of their parents or
  guardians. By using the Elaka service, you are representing that you are at least 18, or that you are
  at least 13 years old and have your parents' or guardians' permission to use the service.
</p>

<h2 class="text-yellow">Changes</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  Elaka may periodically update this policy. We may notify you about significant changes in the way we treat personal
  information by placing a prominent notice on our site.
</p>

<h2 class="text-yellow">Questions</h2>
<hr class="custom-horizontal">
<p class="text-normal">
  Any questions about this Privacy Policy should be addressed to this address:
  <a class="text-yellow text-decoration-none" href = "mailto: axel@elaka.io">axel@elaka.io</a>
</p>

<p class="text-normal">
  Updated: February 26, 2021
</p>

<span class="text-gray">
  <%= link_to "About", about_path, class: "text-yellow text-decoration-none" %>,
  <%= link_to "Terms", terms_path, class: "text-yellow text-decoration-none" %>
  <span class="text-gray" style="font-size: small">© 2021</span>
</span>