<!--suppress ALL -->
<br>

<h5 class="text-secondary" style="padding-bottom: 0.2em;">&#x1F525; Trending</h5>

<!-- Show trending results -->
<div id="trending-wrap">
  <% @trends.each do | entry | %>
    <%= render 'entries/entry', entry: entry %>
    <br>
  <% end %>
</div>
<div id="trending-load-more" class="text-center">
  <%= link_to_next_page @trends, 'load more', remote: true,
                        class: "text-secondary p-2 rounded btn-outline-dark text-decoration-none"%>
</div>
<br>
<br>