<!--suppress ALL -->
<h5 class="text-secondary">&#x1F525; Trending</h5>
<hr class="custom-horizontal">
<%= search_form_for @search do |f|%>
  <div class="form-group">
    <div class="field">
      <div class="input-group">
        <%= f.search_field :from_or_to_cont, class: "form-control border-0 session-form password-format-input",
                           placeholder: "konga / search" %>
        <button class="input-group-text border-0 toggle-password-btn bg-white" id="search-button" type="submit">
          <i class="bi bi-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>

<!-- Show trending results -->
<div id="trending-wrap">
  <% @trends.each do | entry | %>
    <%= render 'entries/entry', entry: entry %>
    <br>
  <% end %>
</div>
<div id="trending-load-more" class="text-center">
  <%= link_to_next_page @trends, 'load more', remote: true,
                        class: "text-secondary p-2 rounded btn-outline-dark text-decoration-none"%>
</div>
<br>