<!--suppress CheckTagEmptyBody -->
<br>
<div id="flags-wrap">
  <%= render 'flags/index' %>
</div>
<div id="load-more-flags" class="text-center">
  <%= link_to_next_page @entries, 'load more', remote: true,
                        class: "text-secondary p-2 rounded btn-outline-dark text-decoration-none"%>
</div>
<br>