<h5 class="text-secondary text-center">Internal server error!</h5>
<hr class="custom-horizontal">
<p class="text-secondary text-center" style="font-size: 0.8em">If this continues to persist, email us at:
  <a class="text-yellow text-decoration-none" href = "mailto: axel@elaka.io">axel@elaka.io</a>
</p>
