<h5 class="text-secondary text-center">Sorry, that page doesn't exist!</h5>
<hr class="custom-horizontal">
<p class="text-secondary text-center" style="font-size: 0.8em">Why not try a
  <%= link_to "search", search_path, class: "text-yellow text-decoration-none" %>
  for a translation?</p>